{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% include "socialaccount/snippets/login_extra.html" %}
<div class="container-fluid">
  <div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-11 col-md-6">
      <div class="account-wrapper">
        <h1>{% trans "Sign In" %}</h1>
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="red">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="button-wrapper d-flex justify-content-end">
            <button class="red-button text-small" type="submit">{% trans "Sign In" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}