{% extends 'base.html' %}

{% load cloudinary %}
{% block content %}

<!-- Landing Page -->
<section>
    <div class="container-fluid landing-page-background d-flex justify-content-center">
        {% if user.is_authenticated %}
        <div class="hero-wrapper registerd-users">
            <h1 class="hero-title">WELCOME BACK TO FE_<span class="red">E</span>D</h1>
            <h4 class="hero-text ps-5">A community based platform, where people can open new discussion about <span
                    class="red">anything</span> between heaven and earth.</h4>
            <div class="call-to-action d-flex align-items-end pe-md-5">
                <h6 class="call-text">Check out the latest posts <strong
                        class="text-uppercase red">{{ request.user }}</strong>!</h6>
                <div class="button-wrapper d-flex justify-content-end mt-3">
                    <a href="#latestPosts" class="red-button">Posts</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="hero-wrapper new-users">
            <h1 class="hero-title">WELCOME TO FE_<span class="red">E</span>D</h1>
            <h4 class="hero-text ps-5">A community based platform, where people can open new discussion about <span
                    class="red">anything</span> between heaven and earth.</h4>
            <div class="call-to-action d-flex align-items-end pe-md-5">
                <h6 class="call-text">Sign-up now to make your first post!</h6>
                <div class="button-wrapper d-flex justify-content-end mt-3">
                    <a href="{% url 'account_signup' %}" class="red-button">Sign Up</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Main section -->
<main class="position-relative">
    <div class="post-banner-container shadow">
        <div class="post-banner d-flex justify-content-end me-3" id="latestPosts">
            <h5 class="mb-0 text-thin">Latest Posts</h5>
        </div>
    </div>
    <div class="container-fluid">
        <div class="spacer"></div>
        <section id="gallery" class="container-fluid mt-3">
            <div class="gallery-container justify-content-center">
                {% if posts %}
                {% for post in posts %}
                <div class="col-12 col-md-8 col-lg-5 m-3 hover-effect">
                    <div class="card shadow">
                        {% if post.post_image %}
                        <img class="post-preview-image" src="{{ post.post_image.url}}" alt="Post Preview Image">
                        {% else %}
                        <small>No image</small>
                        {% endif %}
                        <div class="card-body pb-0 w-100">
                            <h4 class="text-thin mb-0">{{post.post_title }}</h4>

                            <div class="author-wrapper d-flex align-items-center mt-4">
                                {% if post.author.image %}
                                <img class="author-preview-profile" src="{{ post.author.image.url }}"
                                    alt="Post Author image">
                                {% endif %}
                                <ul class="list-unstyled mb-0 ps-2">
                                    <li class="list-item-author">
                                        <h6 class="text-thin">
                                            {% if postt.author.first_name %}
                                                {{ post.author.first_name }}
                                                {{ post.author.last_name }}
                                            {% else %}
                                                {{ post.author }}
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li class="list-item-author mb-0">
                                        <h6 class="text-thin text-small">Posted: <span
                                                class="date-posted">{{ post.posted }}</span></h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-wrapper mt-4">
                                <ul
                                    class="list-unstyled list-inline mb-0 ps-2 d-flex justify-content-between align-items-center">
                                    <li class="list-inline-item social">
                                        <p class="text-thin text-small mb-0"><img src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747856/media/comment_z8j5wd.png"
                                                width="20px" height="auto" alt="Comment Icon"><span
                                                class="ms-1 me-1 number-of-comments">{{ post.comments.count }}</span>Comments</p>
                                    </li>
                                    <li class="list-inline-item social mb-0">
                                        <p class="text-thin text-small mb-0">
                                            <img src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747858/media/thumbs-up_po6qvg.png" width="20px" height="auto"
                                                alt="Heart icon">
                                            <span class="ms-1 me-1 number-of-likes">{{ post.number_of_likes }}</span>
                                            Likes
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="overlay overlay-toggle">
                        <h4 class="title text-thin">{{ post.post_title }}</h4>
                        <div class="content d-flex justify-content-center align-items-center p-3">
                            <div class="text-preview-wrapper ps-3">
                                <p class="mb-0 text-start">{{ post.post_body|truncatechars:50  | safe }}</p>
                            </div>
                            <div class="read-more-wrapper d-flex justify-content-end w-100 h-100 align-items-end">
                                <a class="red-button text-small text-thin"
                                    href="{% url 'post_detail' post.slug %}">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="spacer"></div>
                <div class="home-page-no-post-wrapper text-center">
                    <h1 class="text-muted">No Posts</h1>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
</main>
{% endblock %}