{% extends 'base.html' %}

{% block content %}
<!-- Edit profile -->
<div class="row d-flex justify-content-center mt-5">
    <div class="col-11 col-md-6 account-wrapper">
        <h5>Edit Profile</h5>
      <form action="{% url 'edit' %}" method="POST" class="post_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy }}
        <div class="button-wrapper d-flex justify-content-end mt-3">
          <button class="red-button text-small preview-text" type="submit">Edit Post</button>
        </div>
    </form>
    </div>
  </div>

{% endblock %}