{% extends 'base.html' %}


{% block content %}
<!-- Main section User Profile -->
<main class="position-relative">
    <div class="details-spacer"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-3 m-md-3">
                <!----------------------------------------------------- User Box --------------------------------->
                <div class="user-background left">
                    <div class="img-wrapper-details d-flex justify-content-center p-4">
                        {% if userProfile.image %}
                        <img class="user-detail-image" src="{{ userProfile.image.url }}"
                            alt="Profile Image of the user">
                        {% else %}
                        <img class="user-detail-image" src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747859/media/profile-image_ajpttv.png"
                            alt="Profile Image of the user">
                        {% endif %}
                    </div>
                    <div class="user-banner ps-3 d-flex align-items-center text-uppercase" id="username">
                        {{ userProfile.user.username }}</div>
                    {% if on_page %}
                    <div class="edit_wrapper d-flex justify-content-end">
                        <a class="p-3 edit" href="{% url 'edit' %}">Edit Profile</a>
                    </div>
                    {% endif %}
                    <ul class="list-unstyled user-details-list m-3">
                        <li class="list-item-details">
                            <span class="text-thin text-small edit">Full Name:</span> <span id="userFullName"
                                class="text-thin text-small">{% if userProfile.first_name %}{{ userProfile.first_name }}
                                {{ userProfile.last_name }}{% else %} <span class="text-muted text-small">.....</span>{% endif %}</span>
                        </li>
                        <li class="list-item-details">
                            <span class="text-thin text-small edit">Email:</span> <span id="userEmail"
                                class="text-thin text-small">{% if userProfile.email %}{{ userProfile.email }}{% else %} <span class="text-muted text-small">.....</span>{% endif %}</span>
                        </li>
                        <li class="list-item-details">
                            <span class="text-thin text-small edit">Proffesion:</span> <span id="userProffesion"
                                class="text-thin text-small">{% if userProfile.profession %}{{ userProfile.profession }}{% else %} <span class="text-muted text-small">.....</span>{% endif %}</span>
                        </li>
                    </ul>
                    <div class="bio-wrapper p-3">
                        {% if userProfile.bio %}
                        <p class="user-details-bio p-3">
                            Bio: <br>{{ userProfile.bio }}
                        </p>
                        {% else %}
                        <p class="user-details-bio p-3">Bio</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10 col-md-7 m-3">
                <!------------------------------------- User Post Box -------------------------------------------------------->
                <div class="user-background pt-5">
                    <div class="user-banner d-flex justify-content-between align-items-center pe-3 ps-3">
                        <h6 class="text-thin mb-0">Posts</h6>
                        <p class="text-thin mb-0">Total Posts: <span id="numberOfPosts">{{ posts.count }}</span></p>
                    </div>
                    {% if posts %}
                    <ul class="list-unstyled mb-0 pb-1">
                        {% for post in posts %}
                        <li class="list-item-posts m-4">
                            <div class="row">
                                <div class="post-wrapper">
                                    <div class="wrapper d-flex justify-content-between">
                                        <div class="post-details d-flex">
                                            <img class="post-user-image" src="{% if post.post_image %}{{ post.post_image.url }} {% endif %}"
                                            alt="Post preview image">
                                            <div class="information-wrapper">
                                                <div class="post-information mt-4 ms-2 ms-md-4">
                                                    <h4 class="text-thin">{{ post.post_title }}</h4>
                                                    <h6 class="text-thin text-small">{{ post.posted }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edit-wrapper mt-2 d-none d-lg-flex">
                                            <a class="me-1 edit-buttons d-flex align-items-center btn-warning text-smallest shadow" href="{% url 'edit_post' post.slug %}">Edit</a>
                                            <!-- Button trigger delete modal -->
                                            <a type="button" class="d-flex align-items-center edit-buttons btn-danger text-smallest shadow" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                Delete
                                            </a>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-thin">Are you sure you want to delete <span class="red">{{ post.post_title }}</span> ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{% url 'delete' post.slug %}" class="btn btn-danger">Delete Post</a>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edit-wrapper mt-2 d-flex d-lg-none">
                                        <a class="me-1 edit-buttons d-flex align-items-center btn-warning text-smallest shadow" href="{% url 'edit_post' post.slug %}">Edit</a>
                                        <!-- Button trigger delete modal -->
                                        <a type="button" class="d-flex align-items-center edit-buttons btn-danger text-smallest shadow" data-bs-toggle="modal" data-bs-target="#deleteModalMobile">
                                            Delete
                                        </a>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="deleteModalMobile" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-thin">Are you sure you want to delete <span class="red">{{ post.post_title }}</span> ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a href="{% url 'delete' post.slug %}" class="btn btn-danger">Delete Post</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="statistics-wrapper">
                                        <ul
                                            class="list-unstyled list-inline mb-0 pe-2 d-flex justify-content-end align-items-center mt-2">
                                            <li class="list-inline-item social">
                                                <p class="text-thin text-small mb-0"><img
                                                        src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747856/media/comment_z8j5wd.png" width="20px" height="auto"
                                                        alt="Comment Icon"><span
                                                        class="ms-1 me-1 number-of-comments">{{ post.comments.count }}</span>Comments</p>
                                            </li>
                                            <li class="list-inline-item social mb-0">
                                                <p class="text-thin text-small mb-0">
                                                    <img src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747858/media/thumbs-up_po6qvg.png" width="20px" height="auto"
                                                        alt="Heart icon">
                                                    <span class="ms-1 me-1 number-of-likes">{{ post.number_of_likes }}</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="add-post-wrapper text-center p-5">
                        <a class="red-button" href="{% url 'add_post' %}">Add Post</a>
                    </div>   
                    {% else %}
                    <div class="no-post-wrapper d-flex justify-content-center control p-5">
                        <h1 class="text-thin text-muted text-center">No posts</h1>
                        <div class="button-wrapper d-flex justify-content-center mb-0">
                            <a class="red-button" href="{% url 'add_post' %}">Add Post</a>
                        </div>
                    </div>                
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock  %}