<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="true">
    <div class="toast-header d-flex justify-content-between">
      <div class="toast-img-wrapper d-flex">
        <img src="https://res.cloudinary.com/molsby-ltd/image/upload/v1648747857/media/check_wvphrs.png" width="25px" height="25px" class="rounded me-2" alt="Check Icon">
        <h6 class="mb-0">Success</h6>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
  </div>